<div class="ui horizontal segments">
  {{#each bookmarks.innermark}}
  <section class="ui segment">
      <img src="/images/wireframe/image.png">
      <h2>{{title}}</h2>
    <div class="ui grid">
      <div class="ten wide column"><a href="{{link}}" class="ui primary button">Visit {{title}}</a></div>
      <div class="two wide column"><a href="/bookmarks/{{../bookmarks.id}}/deleteinnermark/{{id}}"><i class="large red icon trash"></i></a></div>
      
        
    </div>
    </section>
  {{/each}}
</div>