<div class="ui horizontal segments">
  {{#each bookmarks.innermark}}
  <section class="ui segment">
      <img src="/images/wireframe/image.png">
      <h2>{{title}}</h2>
        <a href="{{link}}" class="ui red button">Visit {{title}}</a>
        <div class="ui red"><a href="/bookmarks/{{../bookmarks.id}}/deleteinnermark/{{id}}"><i class="large icon trash"></i></a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>