<div class="ui horizontal segments">
  {{#each innermark.innermark}}
  <section class="ui center aligned middle aligned segment">
    <h2>{{title}}</h2>
  <img class="ui medium centered rounded image" id="innerimg" src={{picture}}>
    <br>
    
    <div class="extra content">
            <div class="ui buttons">
              <a href="/innermark/{{../innermark.id}}/deleteinnermark/{{id}}"><button class="ui negative button">Delete Link</button></a>
              <div class="or"></div>
            <a href="{{link}}" target="_blank" ><button class="ui positive button">Visit Link</button></a>
      </div>
  </div>

    </section>
  {{/each}}
</div>