<div class=" ui grid center aligned segment">
      <div class="statistic eight wide column">
        <div class="value">
          <i class="book icon"></i>{{totalNumberOfCollections}}
        </div>
        <div class="label">
          Total Bookmarks for {{firstname}}
        </div>
      </div>
      <div class="statistic eight wide column">
        <div class="value">
          <i class="bookmark icon"></i>{{totalBookmarks}}
        </div>
        <div class="label">
          {{firstname}}'s total links
        </div>
      </div>
      <div class="statistic eight wide column">
        <div class="value">
          <i class="book icon"></i>{{maxBookmarkName}}
        </div>
        <div class="label">
         has Most Links
        </div>
      </div>
      <div class="statistic eight wide column">
        <div class="value">
          <i class="book icon"></i>{{minBookmarkName}}
        </div>
        <div class="label">
          has least Links
        </div>
      </div>
    </div>